.gallerifut {
    width: 50vh;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

    .bigPicture{
        width: 100vh;
        margin: 4% auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
        
    }
    .bigPicture {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
.gallerifut {
    display:inline-flex;
    align-items: center;
    justify-content: center;

}

body {
    background-color: rgb(46, 46, 46);
}


nav {
    padding-bottom: 2%;
    font-size: 35px;
    margin: 2%;
    display: flex;
	justify-content: space-evenly;

}
a{
    color: white;
    text-decoration: none;
}
label, p, h2 {
    color: white;
}
.container{
    text-align: center;
}